@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Barlow', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Lora', serif;
font-family: 'Piazzolla', serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}

